<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bj4.yhh.everyday"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.bj4.yhh.everyday.EverydayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bj4.yhh.everyday.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bj4.yhh.everyday.cards.weather.WeatherSettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:process=":setting" >
        </activity>
        <activity
            android:name="com.bj4.yhh.everyday.cards.allapps.AllappsSettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:process=":setting" >
        </activity>

        <service
            android:name="com.bj4.yhh.everyday.services.UpdateDataService"
            android:process=":service" >
        </service>
        <service
            android:name="com.bj4.yhh.everyday.services.CitiesLoadingService"
            android:process=":service" >
        </service>
    </application>

</manifest>